@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  background-color: #FFF4E3;
  overflow-x: hidden;
}

@keyframes gradientFlow {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

.animate-gradientFlow {
  animation: gradientFlow 5s linear infinite alternate;
}